{% extends 'client_nav.jinja' %}

{% block stuff %}
<div id="content-area">
<h3>Book a visit</h3>
    <table>  
        <tr>
            <form name="add_booking" action="/bookings/add/{{client.id}}" method="post"> 
                <td><input type="date" name="booking_date" id="booking_date" required="yes" min=2023-09-19></td>
                <td><input type="submit" value="Book visit"/></td>
            </form>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
<h3>Visits booked in the system</h3>
    <table>
        {# {% for booking in client.bookings|sort(attribute="date", reverse="true") %} #}
        {% for booking in client.bookings|sort(attribute="date") %}
        <tr>
            <td>{{ booking.date.strftime('%d/%m/%Y')}}</td>
            <td><form name="cancel_booking" action="/bookings/delete/{{booking.id}}" method="post"><input type="submit" value="Cancel visit"/></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div id="extra-content">
    <h3>For my pets</h3>
    <table>
    {% for pet in client.pets %}
        <tr>
            <td>{{ pet.pet_name }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
{% endblock %}