body {
    background-color: #88acb3;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#flex-navbar {
    display: flex;
    grid-area: left;
    padding-left: 30px;
    padding-top: 20px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

hr {
    margin-inline: 0;
    border: 1px solid grey;
}

th {
    font-weight: lighter;
    padding-right: 40px;
    text-align: left;
    
}
td {
    padding-right: 20px;
}

/* unvisited link */
a:link {
    color: rgb(35, 79, 214);
}

  /* visited link */
a:visited {
    color: rgb(96, 104, 124);
}

  /* mouse over link */
a:hover {
    color: blueviolet;
}

  /* selected link */
a:active {
    color: blue;
}

#flex-navbar > ul > li {
    padding-bottom: 20px;
}
#logo-area{
    padding: 10px;
    grid-area: logo;
}
img { 
    border-radius: 50%; 
    width: 150px;
    height: 150px; 
}
#title-area {
    padding-top: 2rem;
    text-align: justify;
    grid-area: top;
}

#content-area {
    grid-area: center;
    padding: 0px;
    margin: 0px;
}

#extra-content{
    grid-area: right;
    padding: 0px;
    margin: 0px;
}

#extra-content > ul > li {
    padding-top: .5rem;
}

#content-area > ul > li {
    padding-top: .5rem;
}

#label {
    width: 100px;
}

#pet_age {
    width: 50px;
}
#bottom-align {
    vertical-align: baseline ;
}
#footer-nav {
    font-size: smaller;
    padding-top: 2rem;
    text-align: left;
    grid-area: bleft;
}

#copyright {
    font-size: smaller;
    padding-top: 2rem;
    grid-area: bright;
    text-align: right;
}

#grid-container {
    display: grid;
    grid-template-areas:
        'logo  top top'
        'left center right'
        'bleft bleft bright';
    grid-template-columns: 20% 50% 30%;
}