{% extends 'base.jinja'%}

{% block navbar %}
{# <div id="navbar"> #}
<nav id="flex-navbar">
    <ul>
        <li><a href="/clients">My Clients</a></li>
        <li>All Bookings</li>
        <li>Add new Client</li>
    </ul>
</nav>
{# </div> #}
    {% block stuff %}

    {% endblock %}
{% endblock %}