{% extends 'base.jinja'%}

{% block navbar %}

<nav id="flex-navbar">
    <ul>
        <li><a href="/clients">My Clients</a></li>
        <li><a href="/bookings">All Bookings</a></li>
        <li><a href="/pets">All Pets</a></li>
        <li><a href="/clients/add">Add new Client</a></li>
    </ul>
</nav>

    {% block stuff %}

    {% endblock %}
{% endblock %}