{% extends 'base.jinja'%}

{% block navbar %}

<nav id="flex-navbar">
    <ul>
        <li><a href="/bookings/client/{{client.id}}">My Bookings</a></li>
        <li><a href="/pets/client/{{client.id}}">My Pets</a></li>
        <li><a href="/clients/me/{{client.id}}">My details</a></li>
    </ul>
</nav>

    {% block stuff %}

    {% endblock %}
{% endblock %}