{% extends 'base.jinja'%}

{% block navbar %}

<nav id="flex-navbar">
    <ul>
        <li><a href="/bookings/client/{{client.id}}">My Bookings</a></li>
        <li><a href="/pets/client/me/{{client.id}}">My Pets</a></li>
        <li><a href="/clients/me/{{client.id}}">My details</a></li>
    </ul>
</nav>
{# probs don't call this "stuff", I take it this is a hold over from checking if things work? #}
    {% block stuff %} 

    {% endblock %}
{% endblock %}