{% extends 'catsitter_nav.jinja' %}

{% block stuff %}
<div id="content-area">
    <p>This is a visual test that the pet cms app loads. If you can read this it is a very good sign :)</p>
</div>
{% endblock %}