<!-- should stick with .jinja extenstions for consistency -->
        <tr>
            <td><label for="first_name">First name:</label></td>
            <td><input type="text" size="30" name="first_name" id="first_name" required="yes" value="{{client.first_name}}"/></td>
        </tr>
        <tr>
            <td><input type="text" size="30" name="last_name" id="last_name" required="yes" value="{{client.last_name}}"/></td>
            <td><label for="last_name">Last name:</label></td>
        </tr>
        <tr>
            <td><label for="email">email:</label></td>
            <td><input type="email" size="30" name="email" id="email" required="yes" value="{{client.email}}"/></td>
        </tr>
        <tr>
            <td><label for="phone">phone:</label></td>
            <td><input type="text" size="30" name="phone" id="phone" required="yes" value="{{client.phone}}"/></td>
        </tr>
        <tr>
            <td><label for="street">street:</label></td>
            <td><input type="text" size="30" name="street" id="street" required="yes" value="{{client.street}}"/></td>
        </tr>
        <tr>
            <td><label for="postcode">postcode:</label></td>
            <td><input type="text" size="30" name="postcode" id="postcode" required="yes" value="{{client.postcode}}"/></td>
        </tr>

