{% extends 'catsitter_nav.jinja' %}

{% block stuff %}
<div id="content-area">
<h3>All Clients</h3>
<ul>
    {% for client in clients %}
        <li><a href="/clients/{{client.id}}">{{client.first_name}} {{client.last_name}}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}